header{
    width: 900px;
    height: 150px;
    align-content: center;
    background-color: aliceblue;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    margin-left: 20px;
    

}
header:hover {
    background-color: aqua;
    box-shadow: 0 8px 8px  aqua;
}

header>p {
    font-size: 36px;
    font-family: 'M PLUS 1 Code', sans-serif;
}
img {
    float: left;
    margin-right: 40px;
}
ul {
    list-style-type: square;
}

p{
    color: black;
}
main p{
    font-size: 26px;
    font-family: 'M PLUS 1 Code', sans-serif;
    
}
strong {
    color:#1E90FF;

}
strong:hover{
    text-decoration: underline;
    color: aqua;
}
strong:active{
    color: blue;
}
main>p {
    color: blue !important;

}